<nav>
    <div class="logo">
        <img src="assets/Logo-Smf-Web.png" width="80%" height="40%" alt="">
    </div>

    <div class="Sidebar">
        <ul class="Sidebar-items">
            <li routerLink='/dashboardRespo/interventions' routerLinkActive="active">
                <i class="fa-solid icon fa-list-check"></i>
                Les Interventions
            </li>
            <li routerLink='/dashboardRespo/addIntervention' routerLinkActive="active">
                <i class="fa-solid icon fa-thumbtack"></i>
                Ajouter une intervention
            </li>
            <li routerLink='/dashboardRespo/teams' routerLinkActive="active">
                <i class="fa-sharp icon fa-solid fa-users"></i>
                les equipes
            </li>
            <li routerLink="/dashboardRespo/addTeam" routerLinkActive="active">
                <i class="fa-solid icon fa-users-line"></i>
                Ajouter une equipe
            </li>
            <li routerLink='/dashboardRespo/clients' routerLinkActive="active">
                <i class="fa-solid icon fa-user-tie"></i>
                les clients
            </li>
            <li routerLink="/dashboardRespo/addClient" routerLinkActive="active">
                <i class="fa-solid icon fa-user-plus"></i>
                Ajouter un client
            </li>
        </ul>
    </div>
</nav>

