<nav>
    <div class="logo">
        <img src="assets/Logo-Smf-Web.png" width="80%" height="40%" alt="">
    </div>

    <div class="Sidebar">
        <ul class="Sidebar-items">
            <li routerLink='/dashboardAdmin/users' routerLinkActive="active">
                <i class="fa-solid icon fa-users"></i>
                Les Membres
            </li>
            <li routerLink='/dashboardAdmin/addUser' routerLinkActive="active">
                <i class="fa-solid icon fa-user-plus"></i>
                Ajouter mombre
            </li>
        </ul>
    </div>
</nav>
