<div class="containerF">
    <div class="title-block">
        <h3>Ajouter une intervention</h3>
    </div>

    <div class="container_form">

        <form class="form" [formGroup]="addIntervention" (ngSubmit)="submitFrom()">

            <div class="containerX">
                <mat-form-field hintLabel="Max 50 characters" appearance="outline">
                    <mat-label>l'Objet :</mat-label>
                    <input matInput #input maxlength="50" formControlName="objet">
                    <mat-hint align="end">{{input.value.length}}/50</mat-hint>
                    <mat-error *ngIf="objet?.invalid && objet?.touched">
                        votre Objet est invalide
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="adresse" appearance="outline">
                    <input matInput placeholder="Adresse" formControlName="adresse">
                    <mat-error *ngIf="adresse?.invalid && adresse?.touched">
                        votre Adresse est incorrect
                    </mat-error>
                </mat-form-field>



                <div class="container_date">
                    <div class="date_debut">
                        <mat-form-field class="date" appearance="outline">
                            <mat-label>La date de debut : </mat-label>
                            <input matInput type="datetime-local" formControlName="date_debut">
                            <mat-hint>Mois/Jours/Année</mat-hint>
                            <mat-error *ngIf="date_debut?.invalid && date_debut?.touched">
                                votre date de debut est incorrect
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="date_fin">
                        <mat-form-field class="date" appearance="outline">
                            <mat-label>La date de fin : </mat-label>
                            <input matInput type="datetime-local" formControlName="date_fin">
                            <mat-hint>Mois/Jours/Année</mat-hint>
                            <mat-error *ngIf="date_fin?.invalid && date_fin?.touched">
                                votre date de fin est incorrect
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>



            </div>

            <div class="row pick">

                <mat-form-field appearance="outline">
                    <mat-label>Choisissez un type</mat-label>
                    <mat-select formControlName="typeIntervention">
                        <mat-option *ngFor="let type of listType" value="{{ type.id }}">{{ type.type }}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Afficher les options</mat-hint>
                    <mat-error *ngIf="type?.invalid && type?.touched">
                        votre choix est incorrect
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Choisissez un client</mat-label>
                    <mat-select formControlName="client">
                        <mat-option *ngFor="let client of listClient" value="{{ client.id }}">{{ getFullName(client) }}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Afficher les options</mat-hint>
                    <mat-error *ngIf="client?.invalid && client?.touched">
                        votre choix est incorrect
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Choisissez un equipe</mat-label>
                    <mat-select formControlName="equipe">
                        <mat-option *ngFor="let equipe of listEquipe" value="{{ equipe.id }}">{{ equipe.nom }}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Afficher les options</mat-hint>
                    <mat-error *ngIf="equipe?.invalid && equipe?.touched">
                        votre choix est incorrect
                    </mat-error>
                </mat-form-field>
            </div>

            
                <div class="row3">
                    <button class="btn-upload slide">
                        <i class="fa-solid fa-uplad"></i>
                        <input type="file" name="files" (change)="uploadFile($event)" formControlName="files" placeholder="Document">
                        Charger Un document
                    </button>
                    <span class="file">{{ fileName }}</span>
            </div>

            <div class="buttonDiv">
                <button type="file" 
                [disabled]="!addIntervention.valid"
                (click)="addInterventionCall()" class="btnC" mat-raised-button
                    color="primary">Confirmer</button>
            </div>


        </form>

    </div>
</div>