<div class="containerF">
    <div class="title-block">
        <h3>Ajouter un membre </h3>
    </div>

    <div class="container_form">
        <form class="form" [formGroup]="addForm" >
            
            <hr>
            
            <div class="row name">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Nom" formControlName="nom">
                    <mat-error *ngIf="nom?.invalid && nom?.touched">
                        votre nom est incorrect
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Prenom" formControlName="prenom">
                    <mat-error *ngIf="prenom?.invalid && prenom?.touched">
                        votre prenom est incorrect
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="email?.invalid && email?.touched">
                        votre email est incorrect
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="tele" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+212 &nbsp;</span>
                    <input type="tel" matInput placeholder="Num de Telephone" formControlName="tele">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error *ngIf="tele?.invalid && tele?.touched">
                      votre num de telephone est incorrect
                  </mat-error>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline">
                      <input matInput placeholder="adresse" formControlName="adresse">
                      <mat-error *ngIf="adresse?.invalid && adresse?.touched">
                          votre adresse est incorrect
                      </mat-error>
                  </mat-form-field>
            </div>
                
                <div class="buttonDiv">
                    <button (click)="addUser()" class="btnC" mat-raised-button color="primary">Confirmer</button>
                </div>
        </form> 
        
    </div>
</div>