<div class="container">
   <div class="title-header">
    <h3>SVP Choisez-vous votre role !</h3>
   </div>
   <div class="container-role">

        <div routerLink="/loginAdmin" class="role admin">
            <div class="role-img">
                    
            </div>
            <div class="role-footer">
                <h3>Administrateur</h3>
            </div>
        </div>

        <div routerLink="/loginResonsable" class="role respo">
            <div class="role-img">
                
            </div>
            <div class="role-footer">
                <h3>responsable de planification</h3>
            </div>
        </div>
   </div>
</div>
